<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
<div class="container">
    <style>
    canvas, video{
      border: 1px solid gray;
    }
    </style>


  <h1>QRコード読取</h1>
  <video id="camera" width="300" height="200"></video>
  <canvas id="canvas01" name="canvas01" width="300" height="200"></canvas>

  <form>
    <button type="button" id="shutter">シャッター</button>
  </form>

  <audio id="se" preload="auto">
<!--    <source src="camera-shutter1.mp3" type="audio/mp3">-->
  </audio>
  <%= render 'form', stamp: @stamp %>

  <%= javascript_pack_tag 'qr' %> 
</div>