
<% set_meta_tags title: 'ご応募ありがとうございます', description: 'ご応募ありがとうございます' %>
<body class="thanks vl-bodyBg login-user">
  <header class="vl-appTop-header">
  </header>
  <div class="container">
    <div class="vl-userName"><i class="fas fa-smile"></i> <%= current_user.username %>さん</div>
    <div class="vl-contentsWrap">
      <div class="vl-contentBlock rounded m-auto bg-white card">
        <div class="card-header">
          <h1 class="text-main-color">ご応募ありがとうございます</h1>
        </div>
        <div class="vl-cardWrap">
          <div class="thanxWrap">
           <p>ご利用ありがとうございました。</p>
          </div>
          <%= render('shared/menu') %>
        </div><!-- / .vl-cardWrap -->
      </div><!-- / .vl-enterBlock -->
    </div><!-- / .vl-enterWrap -->
  </div><!-- / .container -->
</body>
