<body class="thanks vl-bodyBg login-user">
  <% set_meta_tags title: 'お知らせ', description: 'お知らせ' %>
  <header class="vl-appTop-header">
    <div class="vl-appTitle d-flex justify-content-center container">
      <p><%= image_tag "image_stamps/App_titlelogo_color.png",{ alt:"石見周遊スタンプラリー いわみくるり",width:"300", height:"100"} %></p>
    </div>
  </header>
  <div class="container">
    <div class="vl-contentsWrap">
      <div class="vl-contentBlock rounded m-auto bg-white card">
        <div class="card-header">
          <h1 class="text-main-color">お知らせ</h1>
        </div>
        <div class="vl-cardWrap">
          <div class="thanxWrap">
           <p>スタンプラリーは2021年1月13日よりスタートです。</p>
           <p>しばらくお待ちください。</p>
          </div>
        </div><!-- / .vl-cardWrap -->
      </div>
    </div>
  </div> 
  <footer class="vl-footer py-3 text-center">
    <small><a href="https://www.all-iwami.com/contents/stamprally/">©いわみくるり</a></small>
  </footer>
</body>
