<% set_meta_tags title: '利用規約', description: '利用規約' %>
<body class="about vl-bodyBg login-user">
  <header class="vl-appTop-header">
   <div class="vl-appTitle d-flex justify-content-center container">
    <p><%= image_tag "image_stamps/App_titlelogo_color.png",{ alt:"石見周遊スタンプラリー いわみくるり",width:"300", height:"100"} %></p>
   </div>
  </header>

  <div class="container">
    <div class="vl-userName"><i class="fas fa-smile"></i> <% if user_signed_in? %> <%= current_user.username %>さん <% end %> </div>
    <div class="vl-contentsWrap">
      <div class="vl-contentBlock rounded m-auto bg-white card">
        <div class="card-header">
          <h1 class="text-main-color">利用規約</h1>
        </div>
        <div class="vl-cardWrap">
          <h3>利用規約</h3>
          <p>いわみくるり石見周遊スタンプラリーは、下記のように注意事項・免責事項を定めさせていただいております。当イベント期間中は参加者の皆様の安心・安全を最優先として努めてまいります。何卒、免責及び注意事項にご理解いただけますようよろしくお願いします。</p>
          <hr>
          <div class="row">
            <h3 class="col-12">利用できるスマートフォン</h3>
            <ul>
              <li>iPhoneの場合:iOS 11 以降+Safari(ブラウザ)</li>
              <li>Androidの場合:Android 7 以降+Chrome(ブラウザ)</li>
            </ul>
          </div>
          <hr>
          <div class="row">
            <h3 class="col-12">注意事項</h3>
            <ul>
              <li>通信料はご利用者様負担となります。</li>
              <li>Webアプリを安全にご利用いただくためには、以下の環境を推奨いたします。</li>
              <li>上記OSのスマートフォンに初期搭載されているブラウザ以外は非対応となります。また、フィーチャーフォンも非対応です。</li>
              <li>スタンプラリーに参加後、スマートフォンの機種変更された場合、新しいスマートフォンでサイトにアクセスし、ログインすることで、スタンプ取得状況を引き継いで利用することができます。</li>
              <li>一部のスマートフォンでは、スタンプラリーにご参加いただけない場合がございますので、予めご了承ください。また、パソコンからご参加いただくことは出来ません。</li>
              <li>スタンプ取得に際し、不正行為が発覚した場合は、参加登録は即時解除し、賞品応募もすべて無効となります。</li>
              <li>賞品応募でご入力いただいた個人情報はスタンプラリーの運用（プレゼント当選者へ賞品発送のため配送伝票への記載を含む）にのみ、使用するものとします。（法令等により開示を求められた場合を除く。）</li>
              <li>個人情報は島根県「個人情報・特定個人情報保護に関する基本方針」に基づき、適切に管理します。</li>
              <li>当選者の権利の第三者への譲渡・換金・転売等は一切できません。</li>
              <li>イベントは予告なく変更、中止する場合がございます。</li>
              <li>QRコードは(株)デンソーウェーブの登録商標です。</li>
              <li>その他イベントに関するご不明な点等ございましたら、スタンプラリー事務局までお問い合わせ下さい。</li>
            </ul>
          </div>
          <hr>

          <div class="row" >
            <h3  class="col-8">免責事項</h3>
             <p class="col-11 text-cehter text-justify">当サイトの運営に細心の注意を払っておりますが、掲載コンテンツ、各種サービス、その他当サイトに関するすべての事項について、その正確性、有用性、確実性、安全性等について保証するものではありません。また、以下の場合において利用者または第三者が被る損害について、
              一切責任を負うものではありません。</p>
            <ul>
              <li>利用者より正確なデータを入力がなされず、利用者が賞品を受領できない場合</li>
              <li>当サイトを利用すること及び利用することができなかったことにより、直接的または間接的に損失が生じた場合</li>
              <li>当サイトの利用に関して、ハードウェアやソフトウェア上の障害が生じた場合</li>
              <li>当サイトへの、第三者による情報改ざんや妨害によるサービスの中断及び遅延により、何らかの損失が生じた場合</li>
              <li>推奨する閲覧環境以外からアクセスしたことにより、サービスの利用ができない場合</li>
              <li>主催者に故意または重大な過失なく、サービスの欠陥や情報の誤送信が生じた場合</li>
            </ul>
          </div>
          <hr>
          <div class="row">
            <h3 class="col-8">お問合せ先</h3>
            <ul>
              <li>〒697-0041　島根県浜田市片庭町254</li>
              <li>石見観光振興協議会（事務局：島根県西部県民センター商工観光部観光振興課）</li>
              <li>電話：0855-29-5641（平日9時～17時）</li>
              <li>土日祝：</li>
            </ul>
          </div>
        </div><!-- / .vl-textWrap -->
      </div><!-- / .vl-contentBlock -->
    </div><!-- / .vl-contentsWrap -->
 </div>
  <%= render('shared/menu') %>
</body>
 

