<p><%= t('.greeting', recipient: @resource.email) %></p>

<p><%= t('.message') %></p>

<p>----------------------</p>
<p>本メールは、登録のメールアドレス宛に自動配信しております。</p>
<p>本メールにそのまま返信されても対応できませんのでご了承下さい。</p>
<p>本メールは石見観光振興協議会から委託を受けた（株）バイタルリードから送付しています。</p>
<p>----------------------</p>
<p>お問合せ先</p>
<p>石見観光振興協議会</p>
<p>〒697-0041島根県浜田市片庭町254</p>
<p>（事務局：島根県西部県民センター商工観光部観光振興課）</p>
<p>電話：0855-29-5647（平日8時30分～17時15分／土・日・祝日休）</p>
